.link {
  opacity: 80% !important;
  text-decoration: none !important;
  transition: all;
  transition-duration: 500ms;
}
.link:hover {
  opacity: 100% !important;
}

.active {
  border-bottom: 1.5px solid black !important;
}
